{% extends 'base.html' %}

{% block content %}
<h1>Welcome </h1>
<div class"card">
    <h5 class="card-title">{{ room.name }}</h5>
    <div class="card-body">
        <p>{{ room.description }}</p>
        <a href="{% url 'update-room' room.id %}" class="btn btn-warning">Update</a>
    </div>
</div>

{% for message in messages %}
<div class"card mt-5">
    <h5 class="card-title">@{{ message.user }} {{ message.created_at|timesince }} ago</h5>

    <div class="card-body">
        <p>{{ message.body }}</p>
    </div>
</div>
{% endfor %}

{% if request.user.is_authenticated %}
<form method="POST" action="">
    {% csrf_token %}
    {{ message_form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
<p>You must be logged in to post a message</p>
{% endif %}
{% endblock %}
