{% extends "layout/app.html" %} {% block content %}

<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Logout</h3>
        </div>
      </div>
      <div class="layout__body">
        {% if request.user.is_authenticated %}
        <h2 class="auth__tagline">Are you sure you want to logout?</h2>

        <form method="POST">
          {% csrf_token %}
          <button class="btn btn--main" type="submit">Yes, logout.</button>
        </form>
        {% else %}
        <div class="auth__action">
          <p>You're not logged in. Would you like to</p>
          <a href="{% url 'login' %}" class="btn btn--link">login</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
